.row {
  margin-top: 2em;
  margin-bottom: 2em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Coda", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #426c8f; }

a:hover, a:focus {
  color: #779fc0; }

.brand {
  background-color: #426c8f;
  color: #ffffff; }

.site-header .row {
  margin-top: 0;
  margin-bottom: 0; }

.title-bar {
  background: #ffffff;
  color: #111; }

.title-bar-title {
  font-weight: normal; }

button.menu-icon {
  margin-top: .25em; }

nav ul {
  width: 100%;
  text-align: center; }

img.thumbnail {
  cursor: pointer;
  cursor: hand; }

img.thumbnail::before {
  content: "hello"; }

.app-icon {
  margin-top: 2em; }

.apple-store-badge {
  padding: 20px;
  margin-bottom: 1em; }

.home-description {
  font-size: 1em;
  margin-bottom: 0; }

.app-thumbnail a {
  position: relative;
  width: 100%; }

.app-thumbnail h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  color: #ffffff;
  margin: 0;
  padding: .25em;
  transition: color 200ms ease-out;
  transition: background-color 200ms ease-out; }

.app-thumbnail:hover h3 {
  background-color: black; }

.app-thumbnail h3 span {
  margin: .25em; }

.cover .row {
  margin-top: 0;
  margin-bottom: 0; }

.cover {
  color: #ffffff; }

.main-screenshot {
  margin-bottom: -3em; }

.new-features {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  position: static; }

hr {
  margin-top: 0;
  margin-bottom: 0; }

.features {
  margin-top: 0;
  margin-bottom: 0; }

.feature:nth-of-type(odd) .screenshot {
  float: right; }

.feature img {
  margin-bottom: 1em; }

.site-footer .row {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2em; }

.site-footer {
  background-color: #e8e8e8; }

@media screen and (min-width: 600px) {
  nav ul {
    width: auto;
    text-align: inherit; }

  nav ul li a:last-child {
    padding: 0.7rem 0 0.7rem 1rem; }

  .site-title {
    display: block;
    float: left;
    padding: .7rem 1rem .7rem 0;
    line-height: 1; }

  .home-description {
    font-size: 1.75em;
    margin: 2em 1em; }

  .app-list h2 {
    margin-top: 1em;
    margin-bottom: 1em; }

  .main-screenshot {
    margin-top: 2em;
    margin-bottom: -3em; }

  .cover {
    margin-bottom: 4em; }

  .app-icon {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; }

  .apple-store-badge {
    float: left; }

  .new-features {
    margin-top: -4em;
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em; } }
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
